<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bestätigung der Änderungen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<p style="font-size: x-large;">
    <a href="/projekt">Start Seite</a>
</p>
<br>
<h3 style="font-size: x-large;" th:text="${projekt.get().titel}">Projekt</h3>
<ul class="list-group">
    <li class="list-group-item" th:text="'Beschreibung: ' + ${projekt.get().beschreibung}">Beschreibung</li>
    <li class="list-group-item" th:text="'Startdatum: ' + ${projekt.get().startdatum}">Startdatum</li>
    <li class="list-group-item" th:text="'Laufzeit: ' + ${projekt.get().laufzeit}">Laufzeit</li>
    <li class="list-group-item">Team:
        <ul >
            <li>Person1...</li>
            <li>Person2...</li>
        </ul>
    </li>
</ul>
</body>
</html>