<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projekt-SCS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<br>
<p style="font-weight: bold; font-size: xx-large; text-align: center">Projekte</p>
<br>
<p style="text-align: center">
    <a style="font-color: black; font-size: x-large; font-weight: bold;"
       href="/projekt/addProjekt">Add Projekt</a>
</p>
<div class="row">
   <div style="padding: 40px;" class="col-xs-6 col-sm-4" th:each="projekt : ${projekts}">
       <h3 th:text="${projekt.getTitel()}"><b>Name</b></h3>
        <ul class="list-group">
            <li class="list-group-item" th:text="${projekt.getBeschreibung()}">Beschrebigun</li>
            <li class="list-group-item" th:text="'Startdatum: ' + ${projekt.getStartdatum()}">Startdatum</li>
            <li class="list-group-item" th:text="'Laufzeit: ' + ${projekt.getLaufzeit()}">Laufzeit</li>
            <li class="list-group-item">
                <a style="font-color: black;" th:href="@{'/projekt/edit/' + ${projekt.getId()}}">Bearbeiten</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>