<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Delete Confirmation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<p class="navbar" style="background-color: deepskyblue;">
    <a href="/person" class="navbar-brand" style="color: white">
        <strong>Übersicht aller Personen</strong>
    </a>
</p>
<br>
<p><b>Person wurde gelöscht.</b></p>

<div  class="alert alert-secondary">
    <p>© Made by Happy-Gruppe</p>
</div>
</body>
</html>