<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bestätigung</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<p class="navbar" style="background-color: deepskyblue;">
    <a href="/person" class="navbar-brand" style="color: white">
        <strong>Übersicht aller Personen</strong>
    </a>
</p>
<h3 th:text="${person.vorname} + ' ' + ${person.nachname}"><b>Name</b></h3>
<ul class="list-group list-group-flush">
    <li class="list-group-item" th:text="'Jahres Lohn: ' + ${person.jahreslohn}" >Jahres Lohn</li>
    <li class="list-group-item" th:text="'Kontakt Daten: ' + ${person.kontakt}" >Kontakt Daten</li>
    <li class="list-group-item"><b>Skills: </b>
        <ul class="list-inline">
            <li class="badge badge-secondary" style="background-color: orange" th:each="skill : ${person.skills}" th:text="${skill}">Skills</li>
        </ul>
    </li>
    <li class="list-group-item"><b>Vergangene Projekte: </b>
        <ul th:if="${projekte != null} ">
            <li th:each="projekt : ${projekte}" th:text="${projekt.titel} + ', ' + ${projekt.laufzeit}">
                <a style="font-color: black; display: block" th:href="@{'/person/projectDescription' + ${projekt.id}}"><p>Projektbeschreibung</p></a>
            </li>
        </ul>
    </li>
</ul>
</div>
<div class="alert alert-secondary">

    <p>© Made by Happy-Gruppe</p>
</div>
</body>
</html>