<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bearbeite Person</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<form th:action="@{'/person/saveChanges/' + ${person.get().id}}" method="get">
    <div class="col-md-3 mb-3">
        Vorname:      <input type="text" name="vorname" th:value="${person.get().vorname}"><br>
        Nachname:     <input type="text" name="nachname" th:value="${person.get().nachname}"><br>
        Jahreslohn:   <input type="number" name="jahreslohn" th:value="${person.get().jahreslohn}"><br>
        Kontaktdaten: <input type="email" name="kontakt" th:value="${person.get().kontakt}"><br>
        Skills: <br>
        <select name="skills" multiple>
            <option value="PHP">PHP</option>
            <option value="Python">Python</option>
            <option value="Java">Java</option>
            <option value="Javascript">Javascript</option>
            <option value="C">C</option>
            <option value="C++">C++</option>
            <option value="HTML">HTML</option>
        </select><br>
        Vergangene Projekte:<br>
        <select name="vergangeneProjekte" multiple>
            <option th:each="projekt : ${projekte}" th:text="${projekt.titel}" th:value="${projekt.id}">Projekte</option>
        </select>
    </div>
    <button class="btn btn-primary my-2" type="submit">Submit</button>
</form>
<div class="col-md-3 mb-3">
    <p>© Made by Happy-Gruppe</p>
</div>
</body>
</html>