<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Person-SCS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<p class="navbar navbar-dark bg-primary">
    <a href="/person" class="navbar-brand d-flex align-items-center">
        <strong>Übersicht aller Personen</strong>
    </a>
</p>
<p style="text-align: center">
    <a class="btn btn-primary my-2"
       href="/person/addPerson">Person hinzufügen</a>
</p>
<div class="row">
   <div style="padding: 40px;" class="col-xs-6 col-sm-4" th:each="personMitProjekt : ${persons}" >
       <h3 th:text="${personMitProjekt.person.vorname}+ ' ' + ${personMitProjekt.person.nachname}"><b>Name</b></h3>
        <ul class="list-group">
            <li class="list-group-item" th:text="'Jahres Lohn : ' + ${personMitProjekt.person.jahreslohn}" >Jahres Lohn</li>
            <li class="list-group-item" th:text="'Kontakt Daten : ' + ${personMitProjekt.person.kontakt}" >Kontakt Daten</li>
            <li class="list-group-item"><b>Skills: </b>
                <ul>
                    <li th:if="${personMitProjekt.person.skills != null}" th:each="skill : ${personMitProjekt.person.skills}" th:text="${skill}">Skills</li>
                </ul>
            </li>
            <li class="list-group-item"><b>Vergangene Projekte: </b>
                <ul>
                    <li th:each="projekt : ${personMitProjekt.projekte}" th:text="${projekt.titel} + ', ' + ${projekt.laufzeit}"></li></li>
                </ul>
            </li>
            <li class="list-group-item">
                <a style="font-color: black;" th:href="@{'/person/edit/' + ${personMitProjekt.person.id}}">Bearbeiten</a>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-3 mb-3">
    <p>© Made by Happy-Gruppe</p>
</div>
</body>
</html>